nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 48px;
  padding-left: 72px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--light);
  font-weight: 700;
}
.search-container {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 24px;
}
.search {
  background-color: var(--bg-transp);
  text-transform: capitalize;
  padding: 6px 12px;
  border-radius: 50px;
  width: fit-content;
  min-width: 200px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.search > input {
  background-color: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark);
}
.search > input::placeholder {
  color: var(--dark-transp);
  text-transform: uppercase;
  font-weight: 700;
}
.search > svg {
  stroke: var(--dark-transp);
  height: 24px;
  width: 24px;
}

.ligth-dark-mode {
  background-color: var(--bg-transp);
  padding: 6px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50px;
}
.ligth-dark-mode > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ligth-dark-mode > .light > svg {
  stroke: var(--dark);
}
.ligth-dark-mode > .dark > svg {
  stroke: var(--light);
}
